
body{
    margin:auto;
    background: #f6f6f6;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}
p {
    font-size: 1em;
}

.search-wrapper{
    top:5%;
    margin: 0 auto;
}

.form-control{
    background: transparent;
}

.card {
    min-width: 300px;
    min-height: 400px;
}

.card:hover{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #10425D 0%, #486491 25%, #479CCA 50%, #8CBDBF 75%, #ABA87D 100%);
    border-image-slice: 1;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    min-height: 100%;
    margin-bottom: 50px;
}

