p {
    font-size: 0.8em;
}

.card {
    min-width: 300px;
    min-height: 500px;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    min-height: 100%;
    margin-bottom: 50px;
}